<?xml version="1.0" ?>
<robot name="bd1_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find bd1_bot_description)/urdf/materials.xacro" />
<xacro:include filename="$(find bd1_bot_description)/urdf/bd1_bot.trans" />
<xacro:include filename="$(find bd1_bot_description)/urdf/bd1_bot.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-3.180834059638465e-05 -0.028937573687409172 0.17717056516547702" rpy="0 0 0"/>
    <mass value="0.6871683490298791"/>
    <inertia ixx="0.001278" iyy="0.000754" izz="0.001226" ixy="0.0" iyz="9e-06" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_top_leg_1">
  <inertial>
    <origin xyz="0.008170600100975256 0.0394894379137513 -0.014373284377612094" rpy="0 0 0"/>
    <mass value="0.11806434962739475"/>
    <inertia ixx="0.000239" iyy="5.5e-05" izz="0.00019" ixy="-6e-06" iyz="5.6e-05" ixz="2e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.04375 0.017055 -0.176837" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_top_leg_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.04375 0.017055 -0.176837" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_top_leg_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_top_leg_1">
  <inertial>
    <origin xyz="-0.008146638140998898 0.03956747308259668 -0.01440168685598367" rpy="0 0 0"/>
    <mass value="0.11765454158339926"/>
    <inertia ixx="0.000238" iyy="5.5e-05" izz="0.000189" ixy="6e-06" iyz="5.6e-05" ixz="-2e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.04375 0.017055 -0.176837" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_top_leg_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.04375 0.017055 -0.176837" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_top_leg_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_top_leg_part_1">
  <inertial>
    <origin xyz="0.0030166828594480125 0.022791614835476554 -0.008295935118418557" rpy="0 0 0"/>
    <mass value="0.00355238590700276"/>
    <inertia ixx="1e-06" iyy="0.0" izz="1e-06" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.05775 0.005408 -0.172598" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_top_leg_part_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.05775 0.005408 -0.172598" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_top_leg_part_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_top_leg_part_1">
  <inertial>
    <origin xyz="-0.0030166828594481512 0.022791614835476138 -0.008295935118418613" rpy="0 0 0"/>
    <mass value="0.00355238590700276"/>
    <inertia ixx="1e-06" iyy="0.0" izz="1e-06" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.05775 0.005408 -0.172598" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_top_leg_part_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.05775 0.005408 -0.172598" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_top_leg_part_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_bottom_leg_1">
  <inertial>
    <origin xyz="-0.005000000000000122 -0.03342992083960998 -0.04524895101460043" rpy="0 0 0"/>
    <mass value="0.06694057104242657"/>
    <inertia ixx="0.000154" iyy="9.6e-05" izz="5.9e-05" ixy="0.0" iyz="-6e-05" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.04375 -0.074565 -0.14349" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_bottom_leg_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.04375 -0.074565 -0.14349" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_bottom_leg_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_bottom_leg_part1_1">
  <inertial>
    <origin xyz="0.0028887297099540535 0.030804854644567246 0.043994677208628444" rpy="0 0 0"/>
    <mass value="0.007986683815434131"/>
    <inertia ixx="8e-06" iyy="6e-06" izz="3e-06" ixy="-0.0" iyz="-4e-06" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.04275 -0.008604 -0.049287" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_bottom_leg_part1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.04275 -0.008604 -0.049287" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_bottom_leg_part1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_bottom_leg_part2_1">
  <inertial>
    <origin xyz="-0.0028887297099543657 0.03080485464456717 0.043994677208628416" rpy="0 0 0"/>
    <mass value="0.007986683815434131"/>
    <inertia ixx="8e-06" iyy="6e-06" izz="3e-06" ixy="0.0" iyz="-4e-06" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.03475 -0.008604 -0.049287" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_bottom_leg_part2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.03475 -0.008604 -0.049287" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_bottom_leg_part2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_bottom_leg_1">
  <inertial>
    <origin xyz="0.004999999999999803 -0.03342992083961032 -0.045248951014600344" rpy="0 0 0"/>
    <mass value="0.06694057104242657"/>
    <inertia ixx="0.000154" iyy="9.6e-05" izz="5.9e-05" ixy="0.0" iyz="-6e-05" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.04375 -0.074565 -0.14349" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_bottom_leg_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.04375 -0.074565 -0.14349" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_bottom_leg_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_bottom_leg_part1_1">
  <inertial>
    <origin xyz="-0.0028887297099544212 0.03080485464456685 0.0439946772086285" rpy="0 0 0"/>
    <mass value="0.007986683815434131"/>
    <inertia ixx="8e-06" iyy="6e-06" izz="3e-06" ixy="0.0" iyz="-4e-06" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.04275 -0.008604 -0.049287" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_bottom_leg_part1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.04275 -0.008604 -0.049287" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_bottom_leg_part1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_bottom_leg_part2_1">
  <inertial>
    <origin xyz="0.002888729709954102 0.03080485464456688 0.04399467720862853" rpy="0 0 0"/>
    <mass value="0.007986683815434131"/>
    <inertia ixx="8e-06" iyy="6e-06" izz="3e-06" ixy="-0.0" iyz="-4e-06" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.03475 -0.008604 -0.049287" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_bottom_leg_part2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.03475 -0.008604 -0.049287" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_bottom_leg_part2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_motor_1">
  <inertial>
    <origin xyz="0.015111940298507473 7.507795174563197e-16 -4.996003610813204e-16" rpy="0 0 0"/>
    <mass value="0.022590485913617148"/>
    <inertia ixx="3e-06" iyy="3e-06" izz="3e-06" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.02975 -0.0 -0.037" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_motor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.02975 -0.0 -0.037" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_motor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_wheel_1">
  <inertial>
    <origin xyz="-0.004999999723916709 5.330407374826963e-09 6.948940922679725e-09" rpy="0 0 0"/>
    <mass value="0.02988168724907574"/>
    <inertia ixx="2.1e-05" iyy="1.1e-05" izz="1.1e-05" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.07475 -0.0 -0.037" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.07475 -0.0 -0.037" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_tyre_1">
  <inertial>
    <origin xyz="-1.858665114175262e-05 3.4965965086175387e-10 5.557722476678961e-10" rpy="0 0 0"/>
    <mass value="0.027473313011808588"/>
    <inertia ixx="3.3e-05" iyy="1.8e-05" izz="1.8e-05" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.06975 -0.0 -0.037" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_tyre_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.06975 -0.0 -0.037" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_tyre_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_motor_1">
  <inertial>
    <origin xyz="-0.015111940298507438 -9.605255930854404e-16 5.065392549852277e-16" rpy="0 0 0"/>
    <mass value="0.022590485913617148"/>
    <inertia ixx="3e-06" iyy="3e-06" izz="3e-06" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.02975 0.0 -0.037" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_motor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.02975 0.0 -0.037" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_motor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_wheel_1">
  <inertial>
    <origin xyz="0.00500000042509488 5.330406753102071e-09 6.94894101982424e-09" rpy="0 0 0"/>
    <mass value="0.02988168724907574"/>
    <inertia ixx="2.1e-05" iyy="1.1e-05" izz="1.1e-05" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.07475 0.0 -0.037" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.07475 0.0 -0.037" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_tyre_1">
  <inertial>
    <origin xyz="-1.8586502130130134e-05 3.4965902913685986e-10 5.557724072624559e-10" rpy="0 0 0"/>
    <mass value="0.027473313011808588"/>
    <inertia ixx="3.3e-05" iyy="1.8e-05" izz="1.8e-05" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.06975 0.0 -0.037" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_tyre_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.06975 0.0 -0.037" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_tyre_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="head_connector_1">
  <inertial>
    <origin xyz="-6.6613381477509405e-18 0.030188877571634746 0.026242577707178166" rpy="0 0 0"/>
    <mass value="0.045313827186204206"/>
    <inertia ixx="3.5e-05" iyy="1.7e-05" izz="2.1e-05" ixy="0.0" iyz="-1.5e-05" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 0.031767 -0.206501" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/head_connector_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.031767 -0.206501" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/head_connector_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="head_1">
  <inertial>
    <origin xyz="-1.7784182525826254e-06 -0.021451548337959786 0.00893485011990891" rpy="0 0 0"/>
    <mass value="1.199572908129388"/>
    <inertia ixx="0.00315" iyy="0.002464" izz="0.005149" ixy="0.0" iyz="4.1e-05" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.0 -0.02861 -0.258986" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/head_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.0 -0.02861 -0.258986" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/head_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_ear_1">
  <inertial>
    <origin xyz="0.00399999999999992 2.6078045980287845e-07 -6.113328676615737e-08" rpy="0 0 0"/>
    <mass value="0.0032936425348182733"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0725 -0.04811 -0.262986" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_ear_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0725 -0.04811 -0.262986" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_ear_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_antenna_1">
  <inertial>
    <origin xyz="0.0005496913872387876 0.022283735539851225 0.02228341362611147" rpy="0 0 0"/>
    <mass value="0.0004022122169528586"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.077459 -0.057818 -0.272694" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_antenna_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.077459 -0.057818 -0.272694" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_antenna_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_ear_1">
  <inertial>
    <origin xyz="-0.0040000000000001285 2.607804592061336e-07 -6.113328671064622e-08" rpy="0 0 0"/>
    <mass value="0.0032936425348182733"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.0725 -0.04811 -0.262986" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_ear_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.0725 -0.04811 -0.262986" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_ear_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_antenna_1">
  <inertial>
    <origin xyz="-0.0005503513654630948 0.02228315344381148 0.02228383153044894" rpy="0 0 0"/>
    <mass value="0.0004022122169528586"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.077492 -0.057819 -0.272694" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_antenna_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.077492 -0.057819 -0.272694" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_antenna_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="head_display_1">
  <inertial>
    <origin xyz="0.0003514379854288396 0.003044281411444985 -0.002541755070057994" rpy="0 0 0"/>
    <mass value="0.006639116097329573"/>
    <inertia ixx="0.0" iyy="1.3e-05" izz="1.3e-05" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.0 -0.086934 -0.274692" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/head_display_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.0 -0.086934 -0.274692" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/head_display_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="head_protector_1">
  <inertial>
    <origin xyz="6.217248937900877e-17 -0.003643855103085512 0.0022690081605357126" rpy="0 0 0"/>
    <mass value="0.07384812099098235"/>
    <inertia ixx="8.2e-05" iyy="0.000127" izz="0.000208" ixy="-0.0" iyz="1e-06" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 0.008948 -0.291986" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/head_protector_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.008948 -0.291986" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/head_protector_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_eye_1">
  <inertial>
    <origin xyz="3.191891195797325e-16 -0.0027580036823476456 -6.11333086930621e-08" rpy="0 0 0"/>
    <mass value="0.0015739870068336985"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.04 0.07639 -0.263986" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_eye_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.04 0.07639 -0.263986" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_eye_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_eye_ball_1">
  <inertial>
    <origin xyz="3.2612801348363973e-16 -0.0023434892195376283 -6.113330880408441e-08" rpy="0 0 0"/>
    <mass value="0.0005420065450529266"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.04 0.08389 -0.263986" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_eye_ball_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.04 0.08389 -0.263986" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_eye_ball_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_eye_1">
  <inertial>
    <origin xyz="4.0939474033052647e-16 -0.0027580036823480064 -6.11333086930621e-08" rpy="0 0 0"/>
    <mass value="0.0015739870068336985"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.04 0.07639 -0.263986" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_eye_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.04 0.07639 -0.263986" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_eye_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_eye_ball_1">
  <inertial>
    <origin xyz="3.400058012914542e-16 -0.0023434892195378504 -6.113330880408441e-08" rpy="0 0 0"/>
    <mass value="0.0005420065450529266"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.04 0.08389 -0.263986" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_eye_ball_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.04 0.08389 -0.263986" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_eye_ball_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="ov_camera_1">
  <inertial>
    <origin xyz="-0.00010062533325747048 -0.0056682682583362315 0.0002650247252930782" rpy="0 0 0"/>
    <mass value="0.0056389881980399275"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 0.087401 -0.178387" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/ov_camera_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.087401 -0.178387" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/ov_camera_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="fake_camera_1">
  <origin xyz="-0.00010062533325747048 -0.0056682682583362315 0.0002650247252930782" rpy="0 0 0"/>
</link>

<joint name="left_top_leg_fix" type="fixed">
  <origin xyz="0.04375 -0.017055 0.176837" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="left_top_leg_1"/>
</joint>

<joint name="right_top_leg_fix" type="fixed">
  <origin xyz="-0.04375 -0.017055 0.176837" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="right_top_leg_1"/>
</joint>

<joint name="left_top_leg_part_fix" type="fixed">
  <origin xyz="0.014 0.011647 -0.004239" rpy="0 0 0"/>
  <parent link="left_top_leg_1"/>
  <child link="left_top_leg_part_1"/>
</joint>

<joint name="right_top_leg_part_fix" type="fixed">
  <origin xyz="-0.014 0.011647 -0.004239" rpy="0 0 0"/>
  <parent link="right_top_leg_1"/>
  <child link="right_top_leg_part_1"/>
</joint>

<joint name="left_bottom_leg_fix" type="fixed">
  <origin xyz="0.0 0.09162 -0.033347" rpy="0 0 0"/>
  <parent link="left_top_leg_1"/>
  <child link="left_bottom_leg_1"/>
</joint>

<joint name="left_bottom_leg_part1_fix" type="fixed">
  <origin xyz="-0.001 -0.065961 -0.094203" rpy="0 0 0"/>
  <parent link="left_bottom_leg_1"/>
  <child link="left_bottom_leg_part1_1"/>
</joint>

<joint name="left_bottom_leg_part2_fix" type="fixed">
  <origin xyz="-0.009 -0.065961 -0.094203" rpy="0 0 0"/>
  <parent link="left_bottom_leg_1"/>
  <child link="left_bottom_leg_part2_1"/>
</joint>

<joint name="right_bottom_leg_fix" type="fixed">
  <origin xyz="0.0 0.09162 -0.033347" rpy="0 0 0"/>
  <parent link="right_top_leg_1"/>
  <child link="right_bottom_leg_1"/>
</joint>

<joint name="right_bottom_leg_part1_fix" type="fixed">
  <origin xyz="0.001 -0.065961 -0.094203" rpy="0 0 0"/>
  <parent link="right_bottom_leg_1"/>
  <child link="right_bottom_leg_part1_1"/>
</joint>

<joint name="right_bottom_leg_part2_fix" type="fixed">
  <origin xyz="0.009 -0.065961 -0.094203" rpy="0 0 0"/>
  <parent link="right_bottom_leg_1"/>
  <child link="right_bottom_leg_part2_1"/>
</joint>

<joint name="left_motor_fix" type="fixed">
  <origin xyz="-0.005 -0.008604 -0.012287" rpy="0 0 0"/>
  <parent link="left_bottom_leg_part2_1"/>
  <child link="left_motor_1"/>
</joint>

<joint name="left_wheel_joint" type="continuous">
  <origin xyz="0.045 0.0 0.0" rpy="0 0 0"/>
  <parent link="left_motor_1"/>
  <child link="left_wheel_1"/>
  <axis xyz="1.0 0.0 0.0"/>
</joint>

<joint name="left_tyre_fix" type="fixed">
  <origin xyz="-0.005 0.0 0.0" rpy="0 0 0"/>
  <parent link="left_wheel_1"/>
  <child link="left_tyre_1"/>
</joint>

<joint name="right_motor_fix" type="fixed">
  <origin xyz="0.005 -0.008604 -0.012287" rpy="0 0 0"/>
  <parent link="right_bottom_leg_part2_1"/>
  <child link="right_motor_1"/>
</joint>

<joint name="right_wheel_joint" type="continuous">
  <origin xyz="-0.045 0.0 0.0" rpy="0 0 0"/>
  <parent link="right_motor_1"/>
  <child link="right_wheel_1"/>
  <axis xyz="1.0 0.0 0.0"/>
</joint>

<joint name="right_tyre_fix" type="fixed">
  <origin xyz="0.005 0.0 0.0" rpy="0 0 0"/>
  <parent link="right_wheel_1"/>
  <child link="right_tyre_1"/>
</joint>

<joint name="head_holder_bottom_fix" type="fixed">
  <origin xyz="0.0 -0.031767 0.206501" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="head_connector_1"/>
</joint>

<joint name="head_holder_top_fix" type="fixed">
  <origin xyz="-0.0 0.060377 0.052485" rpy="0 0 0"/>
  <parent link="head_connector_1"/>
  <child link="head_1"/>
</joint>

<joint name="left_ear_fix" type="fixed">
  <origin xyz="0.0725 0.0195 0.004" rpy="0 0 0"/>
  <parent link="head_1"/>
  <child link="left_ear_1"/>
</joint>

<joint name="left_antenna_fix" type="fixed">
  <origin xyz="0.077459 0.029208 0.013708" rpy="0 0 0"/>
  <parent link="head_1"/>
  <child link="left_antenna_1"/>
</joint>

<joint name="right_ear_fix" type="fixed">
  <origin xyz="-0.0725 0.0195 0.004" rpy="0 0 0"/>
  <parent link="head_1"/>
  <child link="right_ear_1"/>
</joint>

<joint name="right_antenna_fix" type="fixed">
  <origin xyz="-0.077492 0.029209 0.013708" rpy="0 0 0"/>
  <parent link="head_1"/>
  <child link="right_antenna_1"/>
</joint>

<joint name="head_display_fix" type="fixed">
  <origin xyz="0.0 0.058324 0.015706" rpy="0 0 0"/>
  <parent link="head_1"/>
  <child link="head_display_1"/>
</joint>

<joint name="head_protector_fix" type="fixed">
  <origin xyz="0.0 -0.037558 0.033" rpy="0 0 0"/>
  <parent link="head_1"/>
  <child link="head_protector_1"/>
</joint>

<joint name="left_eye_fix" type="fixed">
  <origin xyz="0.04 -0.105 0.005" rpy="0 0 0"/>
  <parent link="head_1"/>
  <child link="left_eye_1"/>
</joint>

<joint name="left_eye_ball_fix" type="fixed">
  <origin xyz="0.0 -0.0075 0.0" rpy="0 0 0"/>
  <parent link="left_eye_1"/>
  <child link="left_eye_ball_1"/>
</joint>

<joint name="right_eye_fix" type="fixed">
  <origin xyz="-0.04 -0.105 0.005" rpy="0 0 0"/>
  <parent link="head_1"/>
  <child link="right_eye_1"/>
</joint>

<joint name="right_eye_ball_fix" type="fixed">
  <origin xyz="0.0 -0.0075 0.0" rpy="0 0 0"/>
  <parent link="right_eye_1"/>
  <child link="right_eye_ball_1"/>
</joint>

<joint name="camera_fix" type="fixed">
  <origin xyz="0.0 -0.087401 0.178387" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="ov_camera_1"/>
</joint>

<joint name="fake_camera_fix" type="fixed">
  <origin xyz="0.0 -0.090 0.178387" rpy="0 0 -1.57"/>
  <parent link="base_link"/>
  <child link="fake_camera_1"/>
</joint>

</robot>
