<?xml version="1.0" ?>
<robot name="bd1_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find bd1_bot_description)/urdf/materials.xacro" />
<xacro:include filename="$(find bd1_bot_description)/urdf/bd1_bot.trans" />
<xacro:include filename="$(find bd1_bot_description)/urdf/bd1_bot.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.00032734350998203383 -0.03347164637300757 0.1802949431054025" rpy="0 0 0"/>
    <mass value="0.6871683490298791"/>
    <inertia ixx="0.001278" iyy="0.000754" izz="0.001226" ixy="0.0" iyz="9e-06" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_top_leg_1">
  <inertial>
    <origin xyz="0.008147102971613591 0.039567400396896726 -0.014401308916336203" rpy="0 0 0"/>
    <mass value="0.11765454158339926"/>
    <inertia ixx="0.000238" iyy="5.5e-05" izz="0.000189" ixy="-6e-06" iyz="5.6e-05" ixz="2e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.043454 0.021589 -0.179961" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_top_leg_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.043454 0.021589 -0.179961" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_top_leg_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_top_leg_1">
  <inertial>
    <origin xyz="-0.008146173310383774 0.03956740039699889 -0.014401308916058286" rpy="0 0 0"/>
    <mass value="0.11765454158339926"/>
    <inertia ixx="0.000238" iyy="5.5e-05" izz="0.000189" ixy="6e-06" iyz="5.6e-05" ixz="-2e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.044046 0.021589 -0.179961" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_top_leg_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.044046 0.021589 -0.179961" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_top_leg_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_top_leg_part_1">
  <inertial>
    <origin xyz="0.003017147690062824 -0.007158965723654645 0.002605836912960652" rpy="0 0 0"/>
    <mass value="0.00355238590700276"/>
    <inertia ixx="1e-06" iyy="0.0" izz="1e-06" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.057454 -0.019109 -0.165148" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_top_leg_part_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.057454 -0.019109 -0.165148" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_top_leg_part_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_top_leg_part_1">
  <inertial>
    <origin xyz="-0.0030162180288331314 -0.007158965723653446 0.002605836912960652" rpy="0 0 0"/>
    <mass value="0.00355238590700276"/>
    <inertia ixx="1e-06" iyy="0.0" izz="1e-06" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.058046 -0.019109 -0.165148" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_top_leg_part_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.058046 -0.019109 -0.165148" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_top_leg_part_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_bottom_leg_1">
  <inertial>
    <origin xyz="-0.004999535169384971 -0.03183047151744199 -0.046387693982860134" rpy="0 0 0"/>
    <mass value="0.06694057104242657"/>
    <inertia ixx="0.000154" iyy="0.0001" izz="5.5e-05" ixy="-0.0" iyz="-5.9e-05" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.043454 -0.070031 -0.146614" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_bottom_leg_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.043454 -0.070031 -0.146614" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_bottom_leg_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_bottom_leg_1">
  <inertial>
    <origin xyz="0.004000464830615148 -0.03183047151744129 -0.04638769398286016" rpy="0 0 0"/>
    <mass value="0.06694057104242657"/>
    <inertia ixx="0.000154" iyy="0.0001" izz="5.5e-05" ixy="-0.0" iyz="-5.9e-05" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.044046 -0.070031 -0.146614" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_bottom_leg_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.044046 -0.070031 -0.146614" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_bottom_leg_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_bottom_leg_part1_1">
  <inertial>
    <origin xyz="-0.002888264879339103 0.030811277914758503 0.04744465826520482" rpy="0 0 0"/>
    <mass value="0.00798668381543413"/>
    <inertia ixx="1e-05" iyy="7e-06" izz="3e-06" ixy="0.0" iyz="-4e-06" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.044046 -0.007397 -0.050167" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_bottom_leg_part1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.044046 -0.007397 -0.050167" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_bottom_leg_part1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_bottom_leg_part2_1">
  <inertial>
    <origin xyz="0.0028891945405694133 0.030811277914758392 0.04744465826520479" rpy="0 0 0"/>
    <mass value="0.00798668381543413"/>
    <inertia ixx="1e-05" iyy="7e-06" izz="3e-06" ixy="-0.0" iyz="-4e-06" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.036046 -0.007397 -0.050167" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_bottom_leg_part2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.036046 -0.007397 -0.050167" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_bottom_leg_part2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_bottom_leg_part1_1">
  <inertial>
    <origin xyz="0.002889194540569226 0.03081127791475769 0.04744465826520482" rpy="0 0 0"/>
    <mass value="0.00798668381543413"/>
    <inertia ixx="1e-05" iyy="7e-06" izz="3e-06" ixy="-0.0" iyz="-4e-06" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.042454 -0.007397 -0.050167" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_bottom_leg_part1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.042454 -0.007397 -0.050167" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_bottom_leg_part1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_bottom_leg_part2_1">
  <inertial>
    <origin xyz="-0.002888264879339214 0.030811277914757802 0.047444658265204845" rpy="0 0 0"/>
    <mass value="0.00798668381543413"/>
    <inertia ixx="1e-05" iyy="7e-06" izz="3e-06" ixy="0.0" iyz="-4e-06" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.034454 -0.007397 -0.050167" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_bottom_leg_part2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.034454 -0.007397 -0.050167" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_bottom_leg_part2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_motor_1">
  <inertial>
    <origin xyz="0.015112405129122132 -2.105119158497164e-07 -3.0135411110965293e-08" rpy="0 0 0"/>
    <mass value="0.05754180374223235"/>
    <inertia ixx="6e-06" iyy="8e-06" izz="8e-06" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.029454 0.000772 -0.037587" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_motor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.029454 0.000772 -0.037587" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_motor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_motor_1">
  <inertial>
    <origin xyz="-0.015111475467892679 -2.10511916381626e-07 -3.013541029217581e-08" rpy="0 0 0"/>
    <mass value="0.05754180374223235"/>
    <inertia ixx="6e-06" iyy="8e-06" izz="8e-06" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.031046 0.000772 -0.037587" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_motor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.031046 0.000772 -0.037587" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_motor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_wheel_1">
  <inertial>
    <origin xyz="-0.004999534893302071 -2.1559656221566657e-07 -3.7266147084880075e-08" rpy="0 0 0"/>
    <mass value="0.02988168724907574"/>
    <inertia ixx="2.1e-05" iyy="1.1e-05" izz="1.1e-05" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.074454 0.000772 -0.037587" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.074454 0.000772 -0.037587" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_wheel_1">
  <inertial>
    <origin xyz="0.005000464554531528 -2.1495805572634055e-07 -3.7680797315697845e-08" rpy="0 0 0"/>
    <mass value="0.02988168724907574"/>
    <inertia ixx="2.1e-05" iyy="1.1e-05" izz="1.1e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.076046 0.000772 -0.037587" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.076046 0.000772 -0.037587" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_tyre_1">
  <inertial>
    <origin xyz="0.010019081554393218 -2.101140251726044e-07 -2.958247750234344e-08" rpy="0 0 0"/>
    <mass value="0.024104122361266803"/>
    <inertia ixx="2.9e-05" iyy="1.6e-05" izz="1.6e-05" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.059454 0.000772 -0.037587" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_tyre_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.059454 0.000772 -0.037587" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_tyre_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_tyre_1">
  <inertial>
    <origin xyz="-0.010018151893163768 -2.1085520805666069e-07 -3.0723800906184984e-08" rpy="0 0 0"/>
    <mass value="0.024104122361266803"/>
    <inertia ixx="2.9e-05" iyy="1.6e-05" izz="1.6e-05" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.061046 0.000772 -0.037587" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_tyre_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.061046 0.000772 -0.037587" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_tyre_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="head_connector_1">
  <inertial>
    <origin xyz="4.6483061472184705e-07 0.035355760736280634 0.03535493354665112" rpy="0 0 0"/>
    <mass value="0.055913827186204204"/>
    <inertia ixx="6e-05" iyy="3.2e-05" izz="3.2e-05" ixy="-0.0" iyz="-2.7e-05" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.000296 0.036301 -0.209626" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/head_connector_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.000296 0.036301 -0.209626" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/head_connector_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="head_1">
  <inertial>
    <origin xyz="0.005426334184364554 -0.0216494119197449 0.00908869214258895" rpy="0 0 0"/>
    <mass value="1.205749286054282"/>
    <inertia ixx="0.003166" iyy="0.002485" izz="0.005178" ixy="-1e-06" iyz="5e-05" ixz="-2e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.000296 -0.03441 -0.280336" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/head_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.000296 -0.03441 -0.280336" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/head_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_antenna_1">
  <inertial>
    <origin xyz="0.0005501562178545638 0.022283574555084798 0.022283747365450857" rpy="0 0 0"/>
    <mass value="0.0004022122169528586"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.082163 -0.063618 -0.294044" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_antenna_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.082163 -0.063618 -0.294044" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_antenna_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_antenna_1">
  <inertial>
    <origin xyz="-0.0005498865351135779 0.022283992459238774 0.022283165269590066" rpy="0 0 0"/>
    <mass value="0.0004022122169528586"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.072788 -0.063618 -0.294045" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_antenna_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.072788 -0.063618 -0.294045" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_antenna_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="head_protector_1">
  <inertial>
    <origin xyz="8.964581111871837e-05 -0.0117816738164633 0.0010002726060528988" rpy="0 0 0"/>
    <mass value="0.026743370464461135"/>
    <inertia ixx="2.1e-05" iyy="3.8e-05" izz="5.9e-05" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.002796 -0.016852 -0.313336" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/head_protector_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.002796 -0.016852 -0.313336" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/head_protector_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="head_display_1">
  <inertial>
    <origin xyz="0.0003519028160448613 0.003044120426679578 -0.0025414213307184963" rpy="0 0 0"/>
    <mass value="0.049167039022676495"/>
    <inertia ixx="3e-06" iyy="9.7e-05" izz="9.6e-05" ixy="0.0" iyz="1e-06" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.004704 -0.092734 -0.296042" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/head_display_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.004704 -0.092734 -0.296042" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/head_display_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_ear_1">
  <inertial>
    <origin xyz="0.004000464830615211 9.979569343121497e-08 -0.00013136660541834821" rpy="0 0 0"/>
    <mass value="0.0032936425348182733"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.077204 -0.05391 -0.284336" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_ear_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.077204 -0.05391 -0.284336" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_ear_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_ear_1">
  <inertial>
    <origin xyz="-0.003999535169384755 9.979569479123818e-08 2.726060528424057e-07" rpy="0 0 0"/>
    <mass value="0.0032936425348182733"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.067796 -0.05391 -0.284336" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_ear_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.067796 -0.05391 -0.284336" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_ear_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_eye_1">
  <inertial>
    <origin xyz="4.6483061418023386e-07 -0.0033050631029864774 2.7260603102652325e-07" rpy="0 0 0"/>
    <mass value="0.001358504477531125"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.035296 0.07059 -0.285336" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_eye_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.035296 0.07059 -0.285336" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_eye_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_eye_ball_1">
  <inertial>
    <origin xyz="4.648306141386005e-07 -0.0009858200326942068 2.726060310820344e-07" rpy="0 0 0"/>
    <mass value="0.000987534251166105"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.035296 0.07059 -0.285336" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_eye_ball_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.035296 0.07059 -0.285336" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/right_eye_ball_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_eye_1">
  <inertial>
    <origin xyz="4.648306141594172e-07 -0.0027581646671135246 2.7260603102652325e-07" rpy="0 0 0"/>
    <mass value="0.0015739870068336985"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.044704 0.07059 -0.285336" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_eye_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.044704 0.07059 -0.285336" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_eye_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_eye_ball_1">
  <inertial>
    <origin xyz="4.648306140483949e-07 -0.002343650204303563 2.726060311930567e-07" rpy="0 0 0"/>
    <mass value="0.0005420065450529266"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.044704 0.07809 -0.285336" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_eye_ball_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.044704 0.07809 -0.285336" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/left_eye_ball_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="ov_camera_1">
  <inertial>
    <origin xyz="-0.0006204290054423998 -0.005662617397464154 0.0016376902137970328" rpy="0 0 0"/>
    <mass value="0.006767916009615996"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.000296 0.091935 -0.181511" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/ov_camera_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.000296 0.091935 -0.181511" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bd1_bot_description)/meshes/ov_camera_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="fake_camera_1">
  <inertial>
    <origin xyz="-0.0006204290054423998 -0.005662617397464154 0.0016376902137970328" rpy="0 0 0"/>
    <mass value="0.006767916009615996"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
</link>

<joint name="left_head_leg_fix" type="fixed">
  <origin xyz="0.043454 -0.021589 0.179961" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="left_top_leg_1"/>
</joint>

<joint name="right_head_leg_fix" type="fixed">
  <origin xyz="-0.044046 -0.021589 0.179961" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="right_top_leg_1"/>
</joint>

<joint name="left_head_part_fix" type="fixed">
  <origin xyz="0.014 0.040698 -0.014813" rpy="0 0 0"/>
  <parent link="left_top_leg_1"/>
  <child link="left_top_leg_part_1"/>
</joint>

<joint name="right_head_part_fix" type="fixed">
  <origin xyz="-0.014 0.040698 -0.014813" rpy="0 0 0"/>
  <parent link="right_top_leg_1"/>
  <child link="right_top_leg_part_1"/>
</joint>

<joint name="left_top_bottom_leg_fix" type="fixed">
  <origin xyz="0.0 0.09162 -0.033347" rpy="0 0 0"/>
  <parent link="left_top_leg_1"/>
  <child link="left_bottom_leg_1"/>
</joint>

<joint name="right_top_bottom_leg_fix" type="fixed">
  <origin xyz="0.0 0.09162 -0.033347" rpy="0 0 0"/>
  <parent link="right_top_leg_1"/>
  <child link="right_bottom_leg_1"/>
</joint>

<joint name="left_bottom_leg_part1_fix" type="fixed">
  <origin xyz="0.0 -0.062634 -0.096447" rpy="0 0 0"/>
  <parent link="right_bottom_leg_1"/>
  <child link="right_bottom_leg_part1_1"/>
</joint>

<joint name="left_bottom_leg_part2_fix" type="fixed">
  <origin xyz="0.008 -0.062634 -0.096447" rpy="0 0 0"/>
  <parent link="right_bottom_leg_1"/>
  <child link="right_bottom_leg_part2_1"/>
</joint>

<joint name="right_bottom_leg_part1_fix" type="fixed">
  <origin xyz="-0.001 -0.062634 -0.096447" rpy="0 0 0"/>
  <parent link="left_bottom_leg_1"/>
  <child link="left_bottom_leg_part1_1"/>
</joint>

<joint name="right_bottom_leg_part2_fix" type="fixed">
  <origin xyz="-0.009 -0.062634 -0.096447" rpy="0 0 0"/>
  <parent link="left_bottom_leg_1"/>
  <child link="left_bottom_leg_part2_1"/>
</joint>

<joint name="left_motor_fix" type="fixed">
  <origin xyz="-0.005 -0.008169 -0.01258" rpy="0 0 0"/>
  <parent link="left_bottom_leg_part2_1"/>
  <child link="left_motor_1"/>
</joint>

<joint name="right_motor_fix" type="fixed">
  <origin xyz="0.005 -0.008169 -0.01258" rpy="0 0 0"/>
  <parent link="right_bottom_leg_part2_1"/>
  <child link="right_motor_1"/>
</joint>

<joint name="left_wheel_joint" type="continuous">
  <origin xyz="0.045 0.0 0.0" rpy="0 0 0"/>
  <parent link="left_motor_1"/>
  <child link="left_wheel_1"/>
  <axis xyz="1.0 -0.0 0.0"/>
</joint>

<joint name="right_wheel_joint" type="continuous">
  <origin xyz="-0.045 0.0 0.0" rpy="0 0 0"/>
  <parent link="right_motor_1"/>
  <child link="right_wheel_1"/>
  <axis xyz="1.0 -0.0 0.0"/>
</joint>

<joint name="left_tyre_fix" type="fixed">
  <origin xyz="-0.015 0.0 0.0" rpy="0 0 0"/>
  <parent link="left_wheel_1"/>
  <child link="left_tyre_1"/>
</joint>

<joint name="right_tyre_fix" type="fixed">
  <origin xyz="0.015 0.0 0.0" rpy="0 0 0"/>
  <parent link="right_wheel_1"/>
  <child link="right_tyre_1"/>
</joint>

<joint name="head_holder_bottom_fix" type="fixed">
  <origin xyz="-0.000296 -0.036301 0.209626" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="head_connector_1"/>
</joint>

<joint name="head_holder_top_fix" type="fixed">
  <origin xyz="0.0 0.070711 0.07071" rpy="0 0 0"/>
  <parent link="head_connector_1"/>
  <child link="head_1"/>
</joint>

<joint name="antenna_left_fix" type="fixed">
  <origin xyz="0.082459 0.029208 0.013708" rpy="0 0 0"/>
  <parent link="head_1"/>
  <child link="left_antenna_1"/>
</joint>

<joint name="antenna_right_fix" type="fixed">
  <origin xyz="-0.072492 0.029208 0.013709" rpy="0 0 0"/>
  <parent link="head_1"/>
  <child link="right_antenna_1"/>
</joint>

<joint name="head_protector_fix" type="fixed">
  <origin xyz="-0.0025 -0.017558 0.033" rpy="0 0 0"/>
  <parent link="head_1"/>
  <child link="head_protector_1"/>
</joint>

<joint name="head_display_fix" type="fixed">
  <origin xyz="0.005 0.058324 0.015706" rpy="0 0 0"/>
  <parent link="head_1"/>
  <child link="head_display_1"/>
</joint>

<joint name="left_ear_fix" type="fixed">
  <origin xyz="0.0775 0.0195 0.004" rpy="0 0 0"/>
  <parent link="head_1"/>
  <child link="left_ear_1"/>
</joint>

<joint name="right_ear_fix" type="fixed">
  <origin xyz="-0.0675 0.0195 0.004" rpy="0 0 0"/>
  <parent link="head_1"/>
  <child link="right_ear_1"/>
</joint>

<joint name="right_eye_fix" type="fixed">
  <origin xyz="-0.035 -0.105 0.005" rpy="0 0 0"/>
  <parent link="head_1"/>
  <child link="right_eye_1"/>
</joint>

<joint name="right_eye_ball_fix" type="fixed">
  <origin xyz="-0.035 -0.105 0.005" rpy="0 0 0"/>
  <parent link="head_1"/>
  <child link="right_eye_ball_1"/>
</joint>

<joint name="left_eye_fix" type="fixed">
  <origin xyz="0.045 -0.105 0.005" rpy="0 0 0"/>
  <parent link="head_1"/>
  <child link="left_eye_1"/>
</joint>

<joint name="left_eye_ball_fix" type="fixed">
  <origin xyz="0.0 -0.0075 0.0" rpy="0 0 0"/>
  <parent link="left_eye_1"/>
  <child link="left_eye_ball_1"/>
</joint>

<joint name="camera_fix" type="fixed">
  <origin xyz="-0.000296 -0.091935 0.181511" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="ov_camera_1"/>
</joint>

<joint name="fake_camera_fix" type="fixed">
  <origin xyz="-0.000296 -0.0925 0.181511" rpy="0 0 -1.57"/>
  <parent link="base_link"/>
  <child link="fake_camera_1"/>
</joint>

</robot>
